# virtual environment
venv

# settings configs
**/config/local*.py
**/config/prod.py

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db
*.sqlite3

# Logs:
*.log

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Local Readme
README-local.md

# scrapy spiders cached files
**/spiders/_cache/*
!**/spiders/_cache/README.md

# assets
assets

# media images
/bevendo/media/images/*
!**/bevendo/media/images/README.md
/bevendo/media/CACHE/*

# coverage
.coverage