@import "src/styles/_variables.scss";

$zBackground: $zBase;
$zForeground: $zAbove + $zBase;
$zButton: $zAbove + $zForeground;

.container {
    display: block;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    &.link {
        text-decoration: none;
        color: inherit;
    }

    &.zoom {
        transition: transform 0.2s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }

    .innerContainer {
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        height: 100%;
        

        .content {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            bottom: 0;
            left: 0;
            right: 0;
            color: white;
            
            z-index: $zForeground;
            text-align: center;
        }
        .image {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: $zBackground;
            
        }

        .button {
            position: absolute;
            top: 0;
            right: 0;
            z-index: $zButton;
        }
    }
}