.container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.75;
  z-index: var(--zindex-loading-overlay);
  align-items: center;
  justify-content: center;
}

.container.loading {
  display: flex;
}