:root {
  --border-color: lightgray;
  --border-radius: 5px;

  --shadow: 0 1px 2px lightgray;

  /* begin z-indexes */
  --zindex-swiper: 1;
  --zindex-search: 10;
  /* end z-indexes */

  --footer-height: 60px;
}

/* begin general layout styles */
#global-container {
  position: relative;
  min-height: 100vh;
  padding-bottom:  var(--footer-height);
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:  var(--footer-height);
}

/* end general layout styles */

/* BEGIN general utility stypes */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* END general utility styles*/


/* begin search styles */
.search-bar {
  position: relative;
}
.search-result-list {
  position: absolute;
  list-style: none;
  padding-left: 0;
  background-color: white;
  margin-bottom: 0;
  box-shadow: var(--shadow);
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
  z-index: var(--zindex-search);
}
.search-result-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-result-item a {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.search-result-item a:focus {
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
/* end search styles */


/* begin swiper native style overrides */
.swiper {
  z-index: var(--zindex-swiper); /* already defined in swiper styles, defining here for clarity */
}
.swiper-wrapper {
  padding: 0.5rem; /* allows dropshadows to appear */
}
/* end swiper native style overrides */


/* begin swiper custom styles */
.swiper-slide-content {
  border-radius: var(--border-radius);
  height: 200px;
  background-color: white;
  box-shadow: var(--shadow);
}
.swiper-slide-cocktails {
  flex: 1 1 auto;
  border-radius: var(--border-radius);
  height: fit-content;
}
/* end swiper custom styles */

.product-list {
  & {
    padding-left: 0;
  }
  & > li {
    list-style: none;
  }
}
